

$card-desktop-width: 300px;

.card {
  max-width: $card-desktop-width; // Set maximum width for desktop
  width: 100%; 

}


@media screen and (max-width: 768px) {
  .card {
    max-width: 100%; // Set maximum width to 100% for mobile
  }
}